@charset "UTF-8";
/*обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: 'Stem';
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
input[type='button'],
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

input[type='button'] {
    cursor: pointer;
}

input[type='button']::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    background-color: #304ffd;
    overflow-y: hidden;
}

._container {
    padding: 0px 15px;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.autorization-container {
}

.body {
    &__autorization {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background: #ffffff;
        border: 1px solid #000000;
        border-radius: 20px;
        max-width: 500px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__registration {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background: #ffffff;
        border-radius: 20px;
        max-width: 600px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 40px 0px;
        padding: 0px 15px;
        align-content: center;
    }
    &__recovery {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background: #ffffff;
        border-radius: 20px;
        max-width: 500px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 74px 0px;
        padding: 0 15px;
        align-content: center;
    }
}

.autorization {
    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #3f434a;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 51px;
        user-select: none;
    }
    &__google {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #e8e9eb;
        color: #595f69;
        border-radius: 14px;
        cursor: pointer;
        transition: 0.2s ease border;
        &:hover {
            border: 1px solid #304ffd;
        }
        &-icon {
            width: 15px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0px 0px 0px 14px;
        }
        &-btn {
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            padding: 10px 128px 11px 99px;
        }
    }
    &__email {
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #8a9099;
        opacity: 0.6;
        margin: 36px 0px 31px 0px;
        flex-direction: row;
        justify-content: center;
        h2 {
            padding: 0px 7px 0px 8px;
        }
        &-line {
            background: #e8e9eb;
            width: 90px;
            height: 1px;
        }
    }
    &__form {
        padding: 0px 25px;
        &-email {
            margin: 0px 0px 27px 0px;
        }
        &-password {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0px 0px 21px 0px;
            input[type='text'] {
                font-size: 16px;
            }
        }
        &-remeber {
            display: flex;
            justify-content: space-between;
            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #595f69;
                display: block;
                input {
                    margin: 0px 12px 0px 0px;
                }
            }
        }
        &-log {
            margin: 24px 0px 50px 0px;
            input[type='button'] {
                background-color: #304ffd;
                padding: 10px 179px 9px 178px;
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #ffffff;
                border-radius: 14px;
                box-shadow: 0px 4px #0026ff;
                position: relative;
                top: 0;
                transition: 0.2s;
                &:hover {
                    top: 3px;
                    box-shadow: 0 3px 0px #0026ff;
                    background-color: #304ffd;
                }
                &:active {
                    top: 4px;
                    box-shadow: 0 2px 0px #0026ff;
                }
            }
        }
    }
    &__footer {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #8a9099;
        margin: 0px 0px 27px 0px;
        user-select: none;
        a {
            color: #304ffd;
            transition: 0.2s;
            &:hover {
                text-decoration: underline;
                color: #000000;
            }
        }
    }
}

.form {
    &__subtitle {
        user-select: none;
        font-size: 14px;
        line-height: 18px;
        color: #8a9099;
        margin: 0px 0px 9px 0px;
    }
    &__remeber-link {
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #304ffd;
        display: block;
        transition: 0.2s;
        &:hover {
            text-decoration: underline;
            color: #000000;
        }
        &-phone {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #304ffd;
            display: none;
        }
    }
    &-email__input {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #3f434a;
        border: 1px solid #e8e9eb;
        border-radius: 14px;
        width: 100%;
        padding: 9px 0px 10px 17px;
        transition: 0.2s ease border;
        &:focus {
            border: 1px solid #000000;
        }
        &:hover {
            border: 1px solid #304ffd;
        }
    }
    &-password__input {
        &:focus {
            border: 1px solid #000000;
        }
        &:hover {
            border: 1px solid #304ffd;
        }
    }
    &-fio__input {
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #3f434a;
        border: 1px solid #e8e9eb;
        border-radius: 14px;
        width: 400px;
        max-width: 100%;
        padding: 9px 0px 10px 15px;
        transition: 0.2s ease border;
        &:focus {
            border: 1px solid #000000;
        }

        &:hover {
            border: 1px solid #304ffd;
        }
    }
    &-email__input {
        font-size: 14px;
        line-height: 18px;
        color: #3f434a;
        border: 1px solid #e8e9eb;
        border-radius: 14px;
        width: 400px;
        max-width: 100%;
        padding: 10px 0px 10px 15px;
        transition: 0.2s ease border;
        &:focus {
            border: 1px solid #000000;
        }
        &:hover {
            border: 1px solid #304ffd;
        }
    }

    &-password__input {
        border: 1px solid #e8e9eb;
        border-radius: 14px;
        padding: 0px 0px 0px 7px;
        max-height: 40px;
        width: 400px;
        max-width: 100%;
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0.03em;
        color: #3f434a;
        transition: 0.2s ease border;
        &::placeholder {
            font-size: 40px;
        }
        &:focus {
            border: 1px solid #000000;
        }
        &:hover {
            border: 1px solid #304ffd;
        }
        &-confirm {
            border: 1px solid #e8e9eb;
            box-sizing: border-box;
            border-radius: 14px;
            padding: 0px 0px 0px 7px;
            max-height: 40px;
            max-width: 400px;
            font-weight: 500;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 0.03em;
            color: #3f434a;
            transition: 0.2s ease border;
            &:focus {
                border: 1px solid #000000;
            }
            &:hover {
                border: 1px solid #304ffd;
            }
        }
    }
}

.password {
    &__input-icon {
        background-image: url('../../resources/Hide.svg');
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        width: 40px;
        height: 18px;
        color: #3f434a;
        position: absolute;
        margin: 0px 0px 4px 348px;
        cursor: pointer;
        transition: 0.3s ease all;
        &:hover {
            opacity: 0.5;
        }
    }
}

/*-----------registration--------------*/

.registration {
    &__title {
        user-select: none;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #3f434a;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    &__google {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #e8e9eb;
        color: #595f69;
        border-radius: 14px;
        cursor: pointer;
        transition: 0.2s ease border;
        &:hover {
            border: 1px solid #304ffd;
        }
        &-icon {
            width: 15px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0px 0px 0px 14px;
        }
        &-btn {
            font-weight: 500;
            font-size: 15px;
            line-height: 19px;
            padding: 10px 128px 11px 98px;
        }
    }
    &__email {
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #8a9099;
        opacity: 0.6;
        margin: 36px 0px 31px 0px;
        flex-direction: row;
        justify-content: center;
        h2 {
            padding: 0px 7px 0px 8px;
        }
        &-line {
            background: #e8e9eb;
            width: 90px;
            height: 1px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        &-fio {
            margin: 0px 0px 27px 0px;
        }
        &-email {
            margin: 0px 0px 27px 0px;
        }
        &-password {
            display: flex;
            flex-direction: row;
            margin: 0px 0px 28px 0px;
            align-items: center;
            &-confirm {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0px 0px 21px 0px;
            }
        }
        &-remeber {
            display: flex;
            justify-content: space-between;
            p {
                margin-right: 3px;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: #595f69;
                display: block;
                input {
                    margin: 0px 12px 0px 0px;
                }
            }
        }
        &-log {
            margin: 20px 0px 10px 0px;
            flex-direction: column;
            input[type='button'] {
                background-color: #304ffd;
                padding: 10px 126px 9px 123px;
                max-width: 400px;
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                color: #ffffff;
                width: 100%;
                border-radius: 14px;
                box-shadow: 0px 4px #0026ff;
                position: relative;
                top: 0;
                transition: 0.2s;
                &:hover {
                    top: 2px;
                    box-shadow: 0 3px 0px #0026ff;
                    background-color: #304ffd;
                }
                &:active {
                    top: 4px;
                    box-shadow: 0 2px 0px #0026ff;
                    background-color: #304ffd;
                }
            }
        }
    }
    &__footer {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #8a9099;
        margin: 0px 0px 51px 0px;
        user-select: none;
        a {
            color: #304ffd;
            margin: 0px 0px 0px 5px;
            transition: 0.2s;

            &:hover {
                text-decoration: underline;
                color: #000;
            }
        }
    }
}

.password {
    &__input-icon {
        background-image: url(../../resources/Hide.svg);
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        width: 40px;
        height: 18px;
        color: #3f434a;
        position: absolute;
        margin: 0px 0px 1px 346px;
    }
    &__confirm-input-icon {
        background-image: url(../../resources/Hide.svg);
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        width: 40px;
        height: 18px;
        color: #3f434a;
        position: absolute;
        margin: 0px 0px 3px 346px;
    }
}

.recovery {
    &__img {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 40px 0px 37px 0px;
    }
    &__title {
        user-select: none;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #3f434a;
        text-align: center;
        margin: 0px 0px 47px 35px;
        display: flex;
        h2 {
            &:first-of-type {
                margin: 0px 5px 0px 0px;
            }
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        &-email {
            margin: 0px 0px 24px 0px;
        }
        &-log {
            margin: 0px 0px 80px 0px;
            flex-direction: column;
            input[type='button'] {
                background-color: #304ffd;
                padding: 10px 122px 9px 122px;
                max-width: 400px;
                font-weight: 500;
                font-size: 15px;
                line-height: 19px;
                color: #ffffff;
                width: 100%;
                border-radius: 14px;
                box-shadow: 0px 4px #0026ff;
                position: relative;
                top: 0;
                transition: 0.2s;
                &:hover {
                    top: 2px;
                    box-shadow: 0 3px 0px #0026ff;
                    background-color: #304ffd;
                }
                &:active {
                    top: 4px;
                    box-shadow: 0 2px 0px #0026ff;
                    background-color: #304ffd;
                }
            }
        }
    }
    &__footer {
        margin: 0px 0px 27px 0px;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #8a9099;
        user-select: none;
        a {
            color: #304ffd;
            margin: 0px 0px 0px 5px;
            transition: 0.2s;
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1024px) {
    .autorization-container {
        background-repeat: no-repeat;
        background-position: 10.8% 49.5%;
    }
    .body {
        &__autorization {
            max-width: 430px;
        }
        &__registration {
            margin: 40px auto;
            max-width: 430px;
        }
        &__recovery {
            max-width: 430px;
        }
    }
    .form {
        &__remeber-link {
            display: none;
            &-phone {
                display: block;
                margin: 0px 0px 64px 0px;
            }
            h2 {
                display: block;
                margin: 0px 0px 0px -79px;
            }
        }
        &-email__input {
            padding: 9px 0px 10px 17px;
            width: 100%;
        }
        &-password__input {
            max-width: 320px;
        }
        &-email__input {
            width: 320px;
        }
        &-fio__input {
            width: 320px;
        }
        &-password__input {
            width: 320px;
            &-confirm {
                width: 320px;
            }
        }
    }

    .password {
        &__input-icon {
            margin: 0px 0px 0px 267px;
        }
        &__confirm-input-icon {
            margin: 0px 0px 1px 266px;
        }
    }
    .autorization {
        &__form {
            &-email {
                margin: 0px 0px 31px 0px;
            }
            &-password {
                margin: 0px 0px 26px 0px;
            }
            &-log {
                margin: 24px 0px 34px 0px;
                input[type='button'] {
                    padding: 10px 140px 9px 140px;
                }
            }
        }
        &__title {
            margin-top: 45px;
            margin-bottom: 44px;
        }
        &__google-btn {
            padding: 10px 86px 11px 62px;
        }
        &__email {
            margin: 33px 0px 30px 0px;
            &-line {
                width: 50px;
            }
        }
        &__footer {
            margin: 0px 0px 36px 0px;
        }
    }

    .registration {
        &__title {
            margin-top: 71px;
            margin-bottom: 44px;
        }
        &__google-btn {
            padding: 10px 82px 11px 63px;
        }
        &__email {
            margin: 32px 0px 31px 0px;
            &-line {
                width: 50px;
            }
        }
        &__form-log {
            margin: 27px 0px 66px 0px;
            input[type='button'] {
                padding: 10px 86px 9px 85px;
            }
        }
        &__footer {
            margin: 0px 0px 35px 0px;
        }
        &__form-fio {
            margin: 0px 0px 35px 0px;
        }
        &__form-email {
            margin: 0px 0px 30px 0px;
        }
        &__form-password {
            margin: 0px 0px 32px 0px;
        }
    }

    .recovery {
        &__title {
            display: block;
            margin: 0px 0px 45px 0px;
        }
        &__img {
            margin-top: 64px;
        }
        &__form-log {
            margin: 0px 0px 67px 0px;

            input[type='button'] {
                padding: 10px 85px 9px 80px;
            }
        }
        &__form-email {
            margin: 0px 0px 22px 0px;
        }
        &__footer {
            margin: 0px 0px 37px 0px;
        }
    }
}

@media (max-width: 425px) {
    .autorization-container {
        background-image: none;
    }
    .body__autorization {
        margin: 20px 0;
        max-width: 350px;
    }
}

@media (max-width: 375px) {
    .body {
        &__autorization {
            margin: 10px 0;
            max-width: 316px;
        }
        &__registration {
            max-width: 316px;
        }
        &__recovery {
            max-width: 316px;
        }
    }
    .form {
        &__remeber-link-phone {
            margin: 0px 0px 30px 14px;
        }
        &-password__input {
            padding: 0px 0px 7px 18px;
        }

        &-email__input {
            width: 252px;
        }
        &-fio__input {
            width: 252px;
        }
        &-password__input {
            width: 252px;
            &-confirm {
                width: 252px;
            }
        }
        &__remeber-link {
            h2 {
                display: block;
                margin: 0px 0px 0px -79px;
            }
        }
    }
    .password {
        &__input-icon {
            margin: 0px 0px 0px 197px;
        }
        &__confirm-input-icon {
            margin: 0px 0px 1px 199px;
        }
    }
    .autorization {
        &__form-password {
            margin: 0px 0px 24px 0px;
        }
        &__form-log {
            input[type='button'] {
                padding: 10px 104px 9px 103px;
            }
        }
        &__google-btn {
            padding: 10px 52px 10px 26px;
        }
        &__email {
            margin: 33px 0px 32px 0px;
            &-line {
                width: 15px;
            }
        }
    }

    .registration {
        &__title {
            margin-top: 46px;
            margin-bottom: 44px;
        }
        &__google-btn {
            padding: 10px 53px 11px 25px;
        }
        &__email-line {
            width: 15px;
        }
        &__form-log {
            input[type='button'] {
                padding: 10px 51px 9px 51px;
            }
        }
        &__form-confirm {
            margin: 0px 0px 24px 0px;
        }
    }
    .recovery {
        &__title {
            display: block;
            margin: 0px 0px 45px 15px;
        }
        &__img {
            margin-top: 45px;
            width: 180px;
            height: 180px;
        }
        &__form-log {
            input[type='button'] {
                padding: 10px 48px 9px 50px;
            }
        }
        &__form-email {
            margin: 0px 0px 25px 0px;
        }
    }
    .form-email__input {
        width: 252px;
    }
}
